.scroll, body{
    overflow: auto;
}

.scroll, body::-webkit-scrollbar {
	width: 7px!important;
}
.scroll, body::-webkit-scrollbar-thumb {
	background:#001f3f!important;
    border-radius: 10px!important;
    opacity: .5;
    height: 10px;
}
@media (max-width: 575px){
    div.dataTables_wrapper div.dataTables_paginate ul.pagination{
        justify-content: center!important;
    }
}
